.web-header {
    background-color: #151D28;
    border-bottom: 1px solid #DCE0D940;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
    height: 60px;
    padding: 10px 50px;
    position: sticky;
    top: 0;
}

#spacer {
    width: 10px;
}

#my-name {
    font-weight: 400;
    color: #5516F3;
    text-decoration: none;
}